/* 
    En este archivo CSS, se define un contenedor grid con 3 columnas.
    La primera columna tiene un ancho de 3fr (3 fracciones del ancho total),
    y las dos columnas restantes tienen un ancho de 1fr cada una.
    Se deja un espacio entre los elementos de 10px.
    A continuacion, se definen estilos para cada una de las celdas del grid.
    Cada celda tiene un color de fondo diferente.
*/

.grid-container{
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 10px;
}

.imagen-1 {
    /* la primera celda tiene un color de fondo azul */
    background-color: #7680ee;
}
.imagen-2 {
    /* la segunda celda tiene un color de fondo verde */
    background-color: #a1ffaa;
}
.imagen-3 {
    /* la tercera celda tiene un color de fondo rojo */
    background-color: #fe9090;
}
.imagen-4 {
    /* la cuarta celda tiene un color de fondo celeste */
    background-color: #1cc6c0;
}


