/* 
    Esta regla CSS se aplica solo cuando el ancho de la pantalla
    es mayor o igual a 576px. En ese caso, el cuerpo del documento
    (body) tendra una fuente de tipo fantasy y el texto sera rojo.
*/
@media (min-width: 576px) {
    body {
        font-family: fantasy;
        color: red;
    }
}

/* 
    Esta regla CSS se aplica solo cuando el ancho de la pantalla
    es mayor o igual a 720px. En ese caso, el cuerpo del documento
    (body) tendra una fuente de tipo monospace y el texto sera amarillo.
*/
@media (min-width: 720px) {
    body {
        font-family: monospace;
        color: yellow;
    }
}

/* 
    Esta regla CSS se aplica solo cuando el ancho de la pantalla
    es mayor o igual a 940px. En ese caso, el cuerpo del documento
    (body) tendra una fuente de tipo Times New Roman y el texto sera verde.
*/
@media (min-width: 940px) {
    body {
        font-family: 'Times New Roman', Times, serif;
        color: green;
    }
}


